h2 Just landed
section.product-slider
    .left-arrow
        include ../../assets/left-arrow-angle.svg

    .product-slider-wrapper
        mixin slider-item(img, price, old_price, name, brand)      
            .product-slider-item        
                .itame-image
                    a(href="#")
                       img(src=`img/${img}`, alt="")
                .info
                    span.price.clearfix #{price}
                    p
                        a(href="#").product-name #{name} 
                    span.old-price.clearfix #{old_price}
                    p.brand-name #{brand}
        .slide
            +slider-item('shoes1.jpg', '$29.9', '$35.5', 'SUNSET BLACK SUEDE', 'Naughty monkey')              
            +slider-item('shoes2.jpg', '$29.9', '$35.5', 'SUNSET BLACK SUEDE', 'Naughty monkey')              
            +slider-item('shoes3.jpg', '$29.9', '$35.5', 'SUNSET BLACK SUEDE', 'Naughty monkey')              
            +slider-item('shoes4.jpg', '$29.9', '$35.5', 'SUNSET BLACK SUEDE', 'Naughty monkey')  
        .slide          
            +slider-item('shoes1.jpg', '$29.9', '$35.5', 'SUNSET BLACK SUEDE', 'Naughty monkey')              
            +slider-item('shoes2.jpg', '$29.9', '$35.5', 'SUNSET BLACK SUEDE', 'Naughty monkey')              
            +slider-item('shoes3.jpg', '$29.9', '$35.5', 'SUNSET BLACK SUEDE', 'Naughty monkey')              
            +slider-item('shoes4.jpg', '$29.9', '$35.5', 'SUNSET BLACK SUEDE', 'Naughty monkey')          
    .right-arrow
        include ../../assets/right-arrow-angle.svg
script(type="text/javascript", async, src="//code.jquery.com/jquery-1.11.0.min.js")
script(type="text/javascript", async, src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
script(type="text/javascript", async, src="slick/slick.min.js")
script.
    $(document).ready(function(){
    $('.product-slider-wrapper').slick({
    //- infinite: true,
    //- slidesToShow: 4,
    //- slidesToScroll: 1,
    prevArrow: $(".left-arrow"),
    nextArrow: $(".right-arrow"),
    });
    });

    